:root{

    /* Paleta principal - 'El Secreto de Gala' */
    --accent:#B0C4DE; /* mora azul claro (detalle elegante) */
    --primary:#E0E0E0; /* gris plata espejo — textos principales */
    --muted:#D3D3D3; /* gris plata satinado — detalles secundarios */
    --dark:#1A1A1A; /* fondo antracita profundo */
    --text:#E0E0E0;
    --background:#1A1A1A;

    --titleFont:'Playfair Display', serif;
    --textFont:'Poppins', sans-serif;

    --radius:18px;

    --transition:.4s ease;

    --maxWidth:1200px;

}